[user]
        name = Benny Tsai
        email = bennytsai0711@gmail.com
[init]
        defaultBranch = main
[core]
        editor = code --wait
        autocrlf = input
        quotepath = false
[color]
        ui = auto
[credential]
        helper = store
[pull]
        rebase = false
[push]
        autoSetupRemote = true
[alias]
        st = status
        co = checkout
        ci = commit
        br = branch
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
        cp = cherry-pick
        df = diff
        unstage = reset HEAD --
        s = status
        d = diff
        c = commit
        p = push
        l = log --oneline
        last = log -1 HEAD
[diff]
        tool = vscode
[difftool "vscode"]
        cmd = code --wait --diff $LOCAL $REMOTE
[merge]
        tool = vscode
[mergetool "vscode"]
        cmd = code --wait $MERGED